.notify {
  display: none;
  position: absolute;
  top: 125%;
  right: 0;
  width: 404px;
  background-color: var(--white-color);
  border: 1px solid #d3d3d3;
  cursor: default;
  transform-origin: calc(100% - 20px) top;
  animation: growth ease-in 250ms;
  will-change: opacity, transform; // optimize animation
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    right: 0;
    border-color: transparent transparent var(--white-color) transparent;
    border-style: solid;
    border-width: 0px 29px 20px 29px;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 90px;
    height: 20px;
  }

  &__header {
    height: 40px;
    background-color: var(--white-color);
    user-select: none;

    h3 {
      font-weight: 400;
      color: #999;
      margin: 0 0 0 12px;
      font-size: 1.4rem;
      line-height: 40px; /* Set line-height equal containg element height to make it center */
    }
  }

  &__list {
    padding-left: 0;
  }

  &__item {
    &:hover {
      background-color: #f7f7f7;
    }

    &--new {
      background-color: rgba(238, 75, 43, 0.09);
    }
  }

  &__link {
    display: flex;
    padding: 12px;
    text-decoration: none;
  }

  &__img {
    width: 48px;
    object-fit: contain;
  }

  &__info {
    margin-left: 12px;
  }

  &__name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
  }

  &__description {
    margin-top: 4px;
    display: block;
    font-size: 1.2rem;
    color: #756f6e;
    line-height: 1.6rem;
  }

  &__footer {
    &-view-all {
      width: 100%;
      display: block;
      text-decoration: none;
      color: var(--text-color);
      padding: 8px 0;
      text-align: center;
      font-weight: 400;
    }
  }
}

