.header {
  height: var(--header-height);
  background-image: linear-gradient(0, #fe6433, #f53e2d);

  &__navbar {
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);

    &-list {
      list-style: none;
      padding-left: 0;
      margin-top: 4px 0 0;
    }

    &-item, &-item-link {
      display: inline-block;
      font-size: 1.4rem;
      color: var(--white-color);
      text-decoration: none;
      font-weight: 300;
      cursor: pointer;
    }

    &-item, &-item-link, &-icon-link {
      display: inline-flex;
      align-items: center;

      &:hover {
        color: rgba(255, 255, 255, 0.7);
      }
    }

    &-item {
      position: relative;
      margin: 0 8px;
      min-height: 26px;

      &--strong {
        font-weight: 400;
      }

      &--separate::after {
        content: "";
        display: "block";
        position: absolute;
        width: 1px;
        height: 14px;
        background-color: #fb9086;
        top: 50%;
        right: -9px;
        transform: translateY(-50%);
      }

      &--qr:hover ::ng-deep app-qr-code .qr {
        display: block;
      }

      &--notify:hover ::ng-deep app-notify .notify {
        display: block;
      }
    }

    &-icon-link {
      color: var(--white-color);
      text-decoration: none;
    }

    &-icon {
      font-size: 1.8rem;
      margin: 0 4px;
    }

    &-title {
      &--no-pointer {
        cursor: text;
        color: var(--white-color);
      }
    }
  }
}
